@inherits LayoutComponentBase

<div>
    <NavMenu />
    <div class="container mt-4">
        @Body
    </div>
</div>


@* //Plik "MainLayout.razor" definiuje główny układ aplikacji, który zawiera menu nawigacyjne i miejsce na zawartość stron poprzez @Body. *@